{% extends "layout.html" %}

{% block content %}
<main class="container add-user-section">
<div class="section-content">
    <div class="form-style-8">
    <h2>Create a new user</h2>

    <form method="POST" action="/add-user">
        
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.username.label }}
            
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                <p class-"error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            {{ form.username }}
            
            {{ form.first_name.label }}
            {{ form.first_name }}
            
            {{ form.last_name.label }}
            {{ form.last_name }}
            
            {{ form.prog_lang.label }}
            {{ form.prog_lang}}
            
            {{ form.experience_yr.label }}
            {{ form.experience_yr }}
            
            {{ form.age.label }}
            {{ form.age }}
            
            {{ form.hw1_hrs.label }}
            {{ form.hw1_hrs }}
            
        </div>

        
        {{ form.submit(class="btn btn-primary btn-xl")}}

    </form>

</div>
</div>
</main>
{% endblock %}
